<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="ion-padding">
      <p>Before transition = smooth animation</p>
      <p><small>Loads external content on this page, then passes it as state to the Sub Page</small></p>
      <ion-button (click)="loadBeforeTransition()"
                  [disabled]="loading">{{ loading ? 'Loading...' : 'Load Before Transition' }}</ion-button>
    </ion-card>

    <ion-card class="ion-padding">
      <p>During transition = animation glitch</p>
      <p><small>Loads external content during ionViewWillEnter on the Sub Page</small></p>
      <ion-button (click)="loadDuringTransition()">Load During Transition</ion-button>
    </ion-card>

    <ion-card class="ion-padding">
      <p>After transition = smooth animation</p>
      <p><small>Loads external content during ionViewDidEnter on the Sub Page</small></p>
      <ion-button (click)="loadAfterTransition()">Load After Transition</ion-button>
    </ion-card>
</ion-content>
